@use "../src/assets/styles/_variables.scss" as vars;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  min-height: 100vh;
  background-color: vars.$backgroundColor;
  color: vars.$veryLightColor;
  font-family: vars.$fontFam;
  font-size: 16px;
  padding: 15px;
}

main {
  transform: translateY(150px);
  opacity: 0;
  animation: pageAnim 0.5s ease-out forwards;
}
@keyframes pageAnim {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (min-width: vars.$tablet) {
  #root {
    padding: 30px 60px;
  }
}

@media screen and (min-width: vars.$desktop) {
  #root {
    padding: 30px 100px;
  }
}
