@use "_variables.scss" as vars;

@mixin styledContainer {
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin title {
  font-family: vars.$titleFontFam;
  font-weight: 300;
}

@mixin secondaryColorSection {
  background-color: darken(vars.$secondaryColor, 23%);
  margin: 15px 0;
}
