@use "_variables.scss" as vars;

@mixin styledContainer {
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin title {
  font-family: vars.$titleFontFam;
  font-weight: 300;
}

@mixin secondaryColorSection {
  background-color: darken(vars.$secondaryColor, 23%);
  margin: 15px 0;
}

@mixin centerBlock {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

@mixin gridTwoCol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin customCursor {
  background-color: vars.$secondaryColor;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 999;
}
