@mixin styledContainer {
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
