// Colors
$backgroundColor: #212d31;
$mainColor: #1b3139;
$secondaryColor: #558d99;
$thirdColor: #07161b;
$lightColor: #cec7bf;
$veryLightColor: #e0ddda;

// Font Family
$fontFam: "Nunito", sans-serif;
$titleFontFam: "Lato", sans-serif;

// Breakpoints
$tablet: 768px;
$desktop: 1050px;
