@use "_variables.scss" as vars;
@use "_mixins.scss" as mix;

.section-typewriter {
  @include mix.secondaryColorSection;
  @include mix.styledContainer;
  @include mix.flexCenter;
}
.section-about,
.section-contact {
  background-color: vars.$mainColor;
  margin: 15px 0;
  @include mix.styledContainer;
  h2 {
    @include mix.title;
    margin-bottom: 15px;
  }
}
.my-logo-overlay {
  position: relative;
  display: block;
  margin: auto;
  background-image: url("/logo.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
  overflow: hidden;
  .overlay {
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: 3;
    width: 5px;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5),
      0 0 20px 0 rgba(255, 255, 255, 0.3), 2px 0 3px 0 rgba(255, 255, 255, 0.5),
      -2px 0 3px 0 rgba(255, 255, 255, 0.5);
    transform: rotate(-45deg);
    animation: overlayAnim 7s ease-in-out infinite;
  }
}
@keyframes overlayAnim {
  0% {
    translate: 0;
  }
  15% {
    translate: 180px;
  }
  100% {
    translate: 180px;
  }
}
.section-about {
  max-height: 350px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.5s ease-out;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(transparent, vars.$mainColor);
    pointer-events: none;
  }
  p {
    font-weight: 300;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    .link-projects {
      color: vars.$veryLightColor;
      font-weight: 700;
      border-bottom: 1px solid vars.$veryLightColor;
      text-decoration: none;
    }
  }
  .btn-more-infos {
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 30px;
    height: 30px;
    z-index: 3;
    transition: transform 0.3s ease-out;
    transform: translateX(-50%) rotate(0);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &.open {
    max-height: 2000px;
    &::after {
      background: transparent;
    }
    .btn-more-infos {
      transform: translateX(-50%) rotate(-180deg);
    }
  }
}
.about-logo-container {
  @include mix.flexRow;
  justify-content: space-around;
  a {
    color: vars.$veryLightColor;
    text-decoration: none;
    transition: transform 0.3s ease-out, filter 0.3s ease-out;
    &:hover {
      transform: scale(1.05);
      filter: drop-shadow(3px 3px 15px vars.$thirdColor);
    }
  }
}
@media screen and (min-width: vars.$tablet) {
  .section-typewriter {
    margin: 30px 0;
  }
  .section-about,
  .section-contact {
    padding: 15px 30px 30px;
    margin: 30px 0;
  }
}
@media screen and (min-width: vars.$desktop) {
  .about-container {
    display: grid;
    grid-template-areas:
      "write write"
      "about mylogo"
      "about findme"
      "about contact";
    column-gap: 30px;
    .section-typewriter {
      grid-area: write;
    }
    .section-about {
      margin: 0;
      max-height: 2000px;
      grid-area: about;
      &::after {
        background: transparent;
      }
      .btn-more-infos {
        display: none;
      }
    }
    .contact-btn {
      grid-area: contact;
      max-height: 42px;
    }
    .my-logo-overlay {
      grid-area: mylogo;
    }
    .section-contact {
      grid-area: findme;
      h2 {
        margin-bottom: 30px;
      }
      .about-logo-container {
        flex-direction: column;
        gap: 30px;
      }
    }
  }
}
@media screen and (min-width: vars.$largeDesktop) {
  .about-container {
    grid-template-columns: 2fr 1fr;
    gap: 60px;
    .section-typewriter {
      margin: 60px 0 0;
    }
    .section-about {
      padding: 60px;
      margin: 0 0 15px;
      h2 {
        font-size: 2rem;
        margin-bottom: 30px;
      }
      p {
        font-size: 1.125rem;
      }
    }
    .my-logo-overlay {
      width: 130px;
      height: 130px;
    }
    .section-contact {
      padding: 60px;
      h2 {
        margin-bottom: 30px;
        font-size: 2rem;
      }
      .about-logo-container {
        flex-direction: row;
      }
    }
  }
}
