@use "_mixins.scss" as mix;
@use "_variables" as vars;

.section-projects {
  @include mix.styledContainer;
  background-color: vars.$mainColor;
  margin: 15px 0;
  @for $i from 1 through 10 {
    .project-container:nth-child(#{$i}) {
      animation-delay: 0.1s * $i;
    }
  }
  h2 {
    @include mix.title;
    margin-bottom: 15px;
  }
  .projects-desc {
    margin-bottom: 15px;
    font-weight: 300;
  }
  .projects-container {
    @include mix.flexCenter;
    margin: 0 15px;
  }
}
@media screen and (min-width: vars.$tablet) {
  .section-projects {
    .projects-container {
      @include mix.gridTwoCol;
    }
  }
}
@media screen and (min-width: vars.$desktop) {
  .section-projects {
    margin: 30px 0;
    padding: 30px;
    h2 {
      margin-bottom: 30px;
    }
    .projects-desc {
      margin-bottom: 30px;
      font-size: 1.125rem;
    }
    .projects-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (min-width: vars.$largeDesktop) {
  .section-projects {
    margin: 60px;
    padding: 60px;
    h2 {
      font-size: 2rem;
      margin-bottom: 60px;
    }
    .projects-desc {
      margin-bottom: 60px;
    }
    .projects-container {
      gap: 60px;
    }
  }
}
