@use "_variables.scss" as vars;
@use "_mixins.scss" as mix;

.project-details-container {
  background-color: vars.$mainColor;
  @include mix.styledContainer;
  margin: 15px 0;
  .arrow-left-btn {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    transition: transform 0.3s ease-out;
    &:hover {
      transform: scale(1.09);
    }
  }
  .project-content {
    position: relative;
    .project-top {
      border-radius: 10px;
      background: linear-gradient(#07161b, transparent);
      position: absolute;
      width: 100%;
      height: 150px;
      max-width: 619px;
      padding: 15px 15px 0;
      left: 50%;
      transform: translateX(-50%);
      h2 {
        @include mix.title;
        margin-bottom: 15px;
        font-size: 1.5rem;
      }
      .project-date {
        margin-bottom: 15px;
      }
    }
    .project-image {
      @include mix.centerBlock;
      width: 100%;
      max-width: 618px;
    }
    .project-skills-container {
      flex-wrap: wrap;
      .logo-container {
        opacity: 0;
        transform: scale(0);
        animation: skillsAnim 0.3s ease-out forwards;
      }
    }
    @for $i from 1 through 7 {
      .logo-container:nth-child(#{$i}) {
        animation-delay: 0.1s * $i;
      }
    }
    .projects-links-container {
      .link {
        opacity: 0;
        transform: translateY(25px);
        animation: btnAnim 0.3s ease-out forwards;
      }
    }
    @for $i from 1 through 7 {
      .link:nth-child(#{$i}) {
        animation-delay: 0.1s * $i;
      }
    }
    .project-skills-container,
    .projects-links-container {
      @include mix.flexRow;
      justify-content: flex-start;
      gap: 30px;
      margin: 15px 0;
    }
    .projects-links-container {
      margin: 15px 0;
      .link {
        padding: 8px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: vars.$secondaryColor;
        text-decoration: none;
        color: vars.$thirdColor;
        font-weight: 600;
        transition: scale 0.3s ease-out;
        &:hover {
          scale: 1.05;
        }
        &.link-disabled {
          pointer-events: none !important;
          opacity: 0.3 !important;
        }
      }
    }
    .project-description {
      white-space: pre-wrap;
      font-weight: 300;
    }
  }
  .project-images-container {
    background-color: vars.$backgroundColor;
    border-radius: 20px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .project-img {
      width: 200px;
      object-fit: cover;
      border-radius: 20px;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
      margin: 10px;
      &.img-desktop {
        width: 80%;
        margin: 10px auto;
      }
    }
  }
  .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 0;
    .count-btn {
      cursor: pointer;
      background-color: vars.$thirdColor;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
      border: none;
      padding: 5px 15px;
      border-radius: 20px;
      color: vars.$veryLightColor;
      font-family: vars.$fontFam;
      font-size: 0.875rem;
      transition: scale 0.3s ease-out;
      &:disabled {
        opacity: 0.3;
        pointer-events: none;
        cursor: auto;
      }
      &:hover {
        scale: 1.05;
      }
    }
  }
}
@keyframes skillsAnim {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes btnAnim {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media screen and (min-width: vars.$tablet) {
  .project-details-container {
    padding: 30px;
    .project-content {
      .project-skills-container,
      .projects-links-container {
        justify-content: center;
        gap: 100px;
      }
      .project-description {
        text-align: center;
      }
    }
    .project-images-container {
      .project-img {
        width: 300px;
      }
    }
  }
}
@media screen and (min-width: vars.$desktop) {
  .project-details-container {
    margin: 30px 0;
    .project-content {
      @include mix.gridTwoCol;
      grid-template-rows: repeat(auto-fit, 50px);
      grid-template-areas:
        "image title"
        "image skills"
        "image buttons"
        "desc desc";
      .project-top {
        grid-area: title;
        background: transparent;
        height: auto;
        left: 0;
        transform: translateX(0);
        padding: 0;
      }
      .project-image {
        grid-area: image;
        display: block;
        width: 100%;
        max-width: 700px;
        height: 300px;
        object-fit: cover;
        object-position: top center;
        border-radius: 10px;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
      }
      .project-skills-container {
        grid-area: skills;
      }
      .projects-links-container {
        grid-area: buttons;
      }
      .project-skills-container,
      .projects-links-container {
        justify-content: flex-start;
        gap: 60px;
      }
      .project-description {
        font-size: 1.125rem;
        grid-area: desc;
        text-align: start;
      }
    }
    .project-images-container {
      margin: 60px;
      padding: 30px;
      .project-img.img-desktop {
        width: 70%;
        margin: 30px auto;
      }
    }
  }
}
@media screen and (min-width: vars.$largeDesktop) {
  .project-details-container {
    margin: 60px 0 15px;
    padding: 60px;
    .arrow-left-btn {
      margin-bottom: 30px;
    }
    .project-content {
      column-gap: 60px;
      .project-top {
        h2 {
          font-size: 2rem;
        }
        .project-date {
          margin-bottom: 30px;
        }
      }
      .project-description {
        margin-top: 30px;
      }
    }
    .project-images-container {
      margin: 60px 120px;
      .project-img {
        width: 350px;
        &.img-desktop {
          width: 60%;
        }
      }
    }
    .btn-group {
      .count-btn {
        font-size: 1rem;
      }
    }
  }
}
