@use "_variables.scss" as vars;
@use "_mixins.scss" as mix;

.section-skills {
  margin: 15px 0;
  @include mix.styledContainer;
  background-color: vars.$mainColor;
  h3 {
    @include mix.title;
    margin-bottom: 15px;
  }
  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    .logo-container {
      opacity: 0;
      transform: scale(0);
      animation: skillsAnim 0.3s ease-out forwards;
    }
    @for $i from 1 through 15 {
      .logo-container:nth-child(#{$i}) {
        animation-delay: 0.1s * $i;
      }
    }
  }
}
@keyframes skillsAnim {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (min-width: vars.$tablet) {
  .section-skills {
    .skills-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
@media screen and (min-width: vars.$desktop) {
  .section-skills {
    margin: 30px 0;
    .skills-container {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
@media screen and (min-width: vars.$largeDesktop) {
  .section-skills {
    padding: 30px;
    margin: 60px 120px;
    h3 {
      font-size: 1.5rem;
    }
  }
}
